.osim-focus-overlay {
    position: absolute;
    border: 0.125rem solid red;
    background-color: #FF000088;
    border-radius: 0.125rem;
    z-index: 9999;
    animation: osim-focus-pulse-animation 3s infinite;
}

@keyframes osim-focus-pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.4);
    }
    100% {
        box-shadow: 0 0 0 1rem rgba(255, 0, 0, 0);
    }
}
