{% extends 'osim-focus/layouts/_settings' %}

{% block actionButton %}
    {# Remove save button. #}
{% endblock %}

{% block content %}
    <p>{{'You must set up at least one account before you can add a project.'|t('osim-focus')}}</p>

	<div class="btngroup">
        <a href="{{ url('osim-focus/settings/accounts/new') }}" class="btn submit add icon">
            {{'New Account'|t('osim-focus')}}
        </a>
    </div>
{% endblock %}
