<button type="button" class="btn menubtn">{{'Set status'|t('app')}}</button>
<div class="menu">
    <ul>
        <li><a class="formsubmit" data-param="status" data-value="resolved"><span class="status resolved green"></span> {{'Resolved'|t('osim-focus')}}</a></li>
        <li><a class="formsubmit" data-param="status" data-value="unresolved"><span class="status unresolved red"></span> {{'Unresolved'|t('osim-focus')}}</a></li>
    </ul>
</div>
